pinecone-client
pinecone-text
python-dotenv
uvicorn
fastapi
numpy
PyMuPDF
pydantic
langchain
langchain-openai
langchain-pinecone
langchain-community
azure-mgmt-compute
azure-mgmt-storage
azure-mgmt-resource
azure-keyvault-secrets
azure-storage-blob
python-multipart
cryptography==39.0.0
PyJWT==2.7.0
