* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgba(50, 50, 50, 1);
  color: white;
  font-family: 'Inter', sans-serif;
}

.App {
  /*sets height for */
  min-height: 100vh;
  display: flex;
  background-color: rgba(50, 50, 50, 1);
  color: white;
  position: absoluate;
  top:0;bottom:0;right:0;left:0;
}

.sideBar {
  width: 300px;
  padding: 10px;
  background-color: #252525;
}

.main {
  flex: 9;
  border-right: 1px solid rgb(100, 100, 100);
}

.upperSide {
  padding: 2.5rem;
  border-bottom: 1px solid rgb(100, 100, 100);
  height: 70%;
}

.upperSideTop {
  display:flex;
  align-items: center;
  margin-bottom: 2.5 rem;

}

.addBtn{
  height: 2rem;
  padding-right: 0.5rem;
}

.midBtn {
  background: #4e4d4d;
  border: none;
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  width: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5rem auto;
  margin-bottom: 3rem;
  border-radius: 0.5 rem;
}

.generalBtn{
  display: flex;
  align-items: center;
  background: transparent;
  color: rgba(222,222,222,1);
  padding: 1.5rem;
  width: 22rem;
  margin: 1rem auto;
  border-radius: 0.5 rem;
  border: 1px solid rgba (50,50,50,1);
}

.generalBtn>img{
  margin-right: 1rem;
  object-fit: cover;
  height: 2rem;
}

.lowerSide{
  padding: 2rem;
}

.listItems{
  background:  #252525;
  color: rgba(222,222,222,1);
  margin: 2rem;
  display: flex;
  align-items: center;
 
}

.listItems>img{
  margin-right: 1rem;
  height: 2rem;
}

.logo {
  margin-right: 1rem; 

}

.brand {
  font-size: 2rem; 
}
